<%- include header %>
<form action="/post-book" method="post">
  <lable>Title: </lable><input type="text" name="title" /><br />
  <lable>Price: </lable><input type="text" name="price" /><br />
  <lable>Description: </lable><input type="text" name="description" /><br />
  <input type="submit" />
</form>
<%- include footer %>